[submodule "repositories/revanced-patches"]
	path = repositories/revanced-patches
	url = https://github.com/revanced/revanced-patches
	branch = feat/docs
[submodule "repositories/revanced-manager"]
	path = repositories/revanced-manager
	url = https://github.com/revanced/revanced-manager
	branch = docs
[submodule "repositories/revanced-cli"]
	path = repositories/revanced-cli
	url = https://github.com/revanced/revanced-cli
	branch = main
